body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
i {
    margin-left: -30px;
    cursor: pointer;
}
.container {
    width: 300px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    max-width: 100px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
}

form button {
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.register-link {
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: dodgerblue;
    text-decoration: none;
}
center{
    display: flex;
    justify-content:center ;
    align-items: center;
    width: 100%;
}
@media only screen and (max-width: 600px) {
    body{
        background-color: white;
    }
    .container{
        background-color: white;
        box-shadow: none;
        border: none;
    }

}

